# **Project II, Quentin Bone, @03054253**
### Analysis: Chicago Public Schools Progress Report Cards 2011-2012

#### Data Overview
This data is from Data.gov, a trusted government website which has over 300,000 datasets regarding public education, public health and more. This dataset holds data from Chicago public schools, which describes "school level performance" for the 2011-2012 school year.

## **Section I: Data Overview & Structure**

In [18]:
import pandas as pd

In [20]:
df = pd.read_csv('Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012_.csv')

##### Step 1: 
Firstly, using df.info(), shows the columns in the dataset, as well as the non-null count and the datatype of the dataset, giving an overall description of the dataset.
##### Step 2: 
Using pd.set_option('display.max_columns/rows', None) allows for all the columns/rows to be shown when using df.head/tail() and finding and counting null values. The None at the end ensures that there is no limit to the columns/rows regardless of the number. 
##### Step 3: 
Secondly, using df.head() and df.tail() gives a small insight into the dataset, with df.head() showing the first few rows and df.tail() showing the last few rows. 
##### Step 4: 
The next step is finding the null values. To find these, using df.isnull().sum() goes through the dataset and finds all the null values, sums them up and organizes them by the columns which they are from. After that, to see the null values in a more organized and concise manner, using null_counts. The '[null_counts > 0]' tells python to only count the columns with more than 0 null values. The sort_values(ascending=True) then sorts the values and lists them in ascending order. 
##### Step 5: 
Finally, in order to determine which missing values should be filled in and cleaned, calculating the percentage of null values is important. If the percentage is around 20%, then the data should be filled/cleaned. By using the same df.isnull().sum() and adding /len(df) * 100 calculates the percentage of missing values. The same null_counts > 0 is used to only include the necessary info.

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 79 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   School ID                                          566 non-null    int64
 1   Name of School                                     566 non-null    object
 2   Elementary, Middle, or High School                 566 non-null    object
 3   Street Address                                     566 non-null    object
 4   City                                               566 non-null    object
 5   State                                              566 non-null    object
 6   ZIP Code                                           566 non-null    int64
 7   Phone Number                                       566 non-null    object
 8   Link                                               565 non-null    object
 9   Network Manager                                    566 non-null    object
 10  Collaborative Name                                 566 non-null    object
 11  Adequate Yearly Progress Made?                     566 non-null    object
 12  Track Schedule                                     566 non-null    object
 13  CPS Performance Policy Status                      566 non-null    object
 14  CPS Performance Policy Level                       566 non-null    object
 15  Healthy Schools Certified?                         566 non-null    object
 16  Safety Icon                                        566 non-null    object
 17  Safety Score                                       513 non-null    float64
 18  Family Involvement Icon                            566 non-null    object
 19  Family Involvement Score                           566 non-null    object
 20  Environment Icon                                   566 non-null    object
 21  Environment Score                                  513 non-null    float64
 22  Instruction Icon                                   566 non-null    object
 23  Instruction Score                                  513 non-null    float64
 24  Leaders Icon                                       566 non-null    object
 25  Leaders Score                                      566 non-null    object
 26  Teachers Icon                                      566 non-null    object
 27  Teachers Score                                     566 non-null    object
 28  Parent Engagement Icon                             566 non-null    object
 29  Parent Engagement Score                            566 non-null    object
 30  Parent Environment Icon                            566 non-null    object
 31  Parent Environment Score                           566 non-null    object
 32  Average Student Attendance                         565 non-null    float64
 33  Rate of Misconducts (per 100 students)             566 non-null    float64
 34  Average Teacher Attendance                         566 non-null    float64
 35  Individualized Education Program Compliance Rate   566 non-null    float64
 36  Pk-2 Literacy %                                    566 non-null    object
 37  Pk-2 Math %                                        566 non-null    object
 38  Gr3-5 Grade Level Math %                           566 non-null    object
 39  Gr3-5 Grade Level Read %                           566 non-null    object
 40  Gr3-5 Keep Pace Read %                             566 non-null    object
 41  Gr3-5 Keep Pace Math %                             566 non-null    object
 42  Gr6-8 Grade Level Math %                           566 non-null    object
 43  Gr6-8 Grade Level Read %                           566 non-null    object
 44  Gr6-8 Keep Pace Math%                              566 non-null    object
 45  Gr6-8 Keep Pace Read %                             566 non-null    object
 46  Gr-8 Explore Math %                                566 non-null    object
 47  Gr-8 Explore Read %                                566 non-null    object
 48  ISAT Exceeding Math %                              476 non-null    float64
 49  ISAT Exceeding Reading %                           476 non-null    float64
 50  ISAT Value Add Math                                468 non-null    float64
 51  ISAT Value Add Read                                468 non-null    float64
 52  ISAT Value Add Color Math                          566 non-null    object
 53  ISAT Value Add Color Read                          566 non-null    object
 54  Students Taking  Algebra %                         566 non-null    object
 55  Students Passing  Algebra %                        566 non-null    object
 56  9th Grade EXPLORE (2009)                           566 non-null    object
 57  9th Grade EXPLORE (2010)                           566 non-null    object
 58  10th Grade PLAN (2009)                             566 non-null    object
 59  10th Grade PLAN (2010)                             566 non-null    object
 60  Net Change EXPLORE and PLAN                        566 non-null    object
 61  11th Grade Average ACT (2011)                      566 non-null    object
 62  Net Change PLAN and ACT                            566 non-null    object
 63  College Eligibility %                              566 non-null    object
 64  Graduation Rate %                                  566 non-null    object
 65  College Enrollment Rate %                          566 non-null    object
 66  College Enrollment (number of students)            566 non-null    int64
 67  General Services Route                             566 non-null    int64
 68  Freshman on Track Rate %                           566 non-null    object
 69  RCDTS Code                                         566 non-null    int64
 70  X_COORDINATE                                       566 non-null    float64
 71  Y_COORDINATE                                       566 non-null    float64
 72  Latitude                                           566 non-null    float64
 73  Longitude                                          566 non-null    float64
 74  Community Area Number                              566 non-null    int64
 75  Community Area Name                                566 non-null    object
 76  Ward                                               566 non-null    int64
 77  Police District                                    566 non-null    int64
 78  Location                                           566 non-null    object
dtypes: float64(15), int64(8), object(56)
memory usage: 349.5+ KB

In [66]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [68]:
df.head(3)

,School ID,Name of School,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,Collaborative Name,Adequate Yearly Progress Made?,Track Schedule,CPS Performance Policy Status,CPS Performance Policy Level,Healthy Schools Certified?,Safety Icon,Safety Score,Family Involvement Icon,Family Involvement Score,Environment Icon,Environment Score,Instruction Icon,Instruction Score,Leaders Icon,Leaders Score,Teachers Icon,Teachers Score,Parent Engagement Icon,Parent Engagement Score,Parent Environment Icon,Parent Environment Score,Average Student Attendance,Rate of Misconducts (per 100 students),Average Teacher Attendance,Individualized Education Program Compliance Rate,Pk-2 Literacy %,Pk-2 Math %,Gr3-5 Grade Level Math %,Gr3-5 Grade Level Read %,Gr3-5 Keep Pace Read %,Gr3-5 Keep Pace Math %,Gr6-8 Grade Level Math %,Gr6-8 Grade Level Read %,Gr6-8 Keep Pace Math%,Gr6-8 Keep Pace Read %,Gr-8 Explore Math %,Gr-8 Explore Read %,ISAT Exceeding Math %,ISAT Exceeding Reading %,ISAT Value Add Math,ISAT Value Add Read,ISAT Value Add Color Math,ISAT Value Add Color Read,Students Taking Algebra %,Students Passing Algebra %,9th Grade EXPLORE (2009),9th Grade EXPLORE (2010),10th Grade PLAN (2009),10th Grade PLAN (2010),Net Change EXPLORE and PLAN,11th Grade Average ACT (2011),Net Change PLAN and ACT,College Eligibility %,Graduation Rate %,College Enrollment Rate %,College Enrollment (number of students),General Services Route,Freshman on Track Rate %,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Community Area Name,Ward,Police District,Location
0,609966,Charles G Hammond Elementary School,ES,2819 W 21st Pl,Chicago,IL,60623,(773) 535-4580,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,WEST SIDE COLLABORATIVE,No,Track_E,Not on Probation,Level 2,No,Average,40.0,NDA,NDA,Average,41.0,Average,43.0,NDA,NDA,NDA,NDA,Weak,43,Weak,45,95.3,8.5,95.2,92.0,77.4,NDA,27.4,24.8,62.4,53.7,38.1,28.8,60.2,59.8,12.8,5.3,10.1,5.8,0.5,0.2,Yellow,Yellow,25,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,446,39,NDA,150000000000000,1157809.015,1889554.623,41.852691,-87.696278,30,SOUTH LAWNDALE,12,10,"(41.85269133, -87.69627777)"
1,610539,Marvin Camras Elementary School,ES,3000 N Mango Ave,Chicago,IL,60634,(773) 534-2960,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,NORTH-NORTHWEST SIDE COLLABORATIVE,No,Standard,Not on Probation,Not Enough Data,No,Average,54.0,Average,58,Weak,37.0,Average,41.0,Very Strong,83,Very Strong,88,Average,51,Strong,55,95.1,4.3,0.0,97.7,47.5,39.9,30.8,27.8,47.8,38.6,41.1,38.5,49.2,55.4,15.3,30.5,11.2,12.0,-1.8,-0.3,Red,Yellow,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,826,30,NDA,150000000000000,1137482.296,1919394.900,41.934966,-87.770165,19,BELMONT CRAGIN,30,25,"(41.93496641, -87.77016525)"
2,609852,Eliza Chappell Elementary School,ES,2135 W Foster Ave,Chicago,IL,60625,(773) 534-2390,http://schoolreports.cps.edu/SchoolProgressRep...,Ravenswood-Ridge Elementary Network,NORTH-NORTHWEST SIDE COLLABORATIVE,Yes,Standard,Not on Probation,Level 1,No,Strong,70.0,Strong,65,Average,53.0,Average,51.0,Average,56,Average,48,Average,50,Average,52,95.1,2.9,96.7,98.9,72.6,57,56,54.4,55.2,69,53.2,63.9,60,59.8,12.8,41,19.6,17.6,0.4,1.0,Yellow,Green,27.5,63.6,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,451,31,NDA,150000000000000,1161016.902,1934466.545,41.975867,-87.683254,4,LINCOLN SQUARE,47,20,"(41.975867, -87.68325438)"

In [70]:
df.tail(3)

,School ID,Name of School,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,Collaborative Name,Adequate Yearly Progress Made?,Track Schedule,CPS Performance Policy Status,CPS Performance Policy Level,Healthy Schools Certified?,Safety Icon,Safety Score,Family Involvement Icon,Family Involvement Score,Environment Icon,Environment Score,Instruction Icon,Instruction Score,Leaders Icon,Leaders Score,Teachers Icon,Teachers Score,Parent Engagement Icon,Parent Engagement Score,Parent Environment Icon,Parent Environment Score,Average Student Attendance,Rate of Misconducts (per 100 students),Average Teacher Attendance,Individualized Education Program Compliance Rate,Pk-2 Literacy %,Pk-2 Math %,Gr3-5 Grade Level Math %,Gr3-5 Grade Level Read %,Gr3-5 Keep Pace Read %,Gr3-5 Keep Pace Math %,Gr6-8 Grade Level Math %,Gr6-8 Grade Level Read %,Gr6-8 Keep Pace Math%,Gr6-8 Keep Pace Read %,Gr-8 Explore Math %,Gr-8 Explore Read %,ISAT Exceeding Math %,ISAT Exceeding Reading %,ISAT Value Add Math,ISAT Value Add Read,ISAT Value Add Color Math,ISAT Value Add Color Read,Students Taking Algebra %,Students Passing Algebra %,9th Grade EXPLORE (2009),9th Grade EXPLORE (2010),10th Grade PLAN (2009),10th Grade PLAN (2010),Net Change EXPLORE and PLAN,11th Grade Average ACT (2011),Net Change PLAN and ACT,College Eligibility %,Graduation Rate %,College Enrollment Rate %,College Enrollment (number of students),General Services Route,Freshman on Track Rate %,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Community Area Name,Ward,Police District,Location
563,610154,Martin A Ryerson Elementary School,ES,646 N Lawndale Ave,Chicago,IL,60624,(773) 534-6700,http://schoolreports.cps.edu/SchoolProgressRep...,Garfield-Humboldt Elementary Network,WEST SIDE COLLABORATIVE,No,Track_E,Not on Probation,Level 1,No,Average,40.0,Weak,32,Average,48.0,Average,43.0,Average,41,Weak,37,Weak,45,Average,48,95.5,95.1,96.8,100.0,63.6,48.6,33.3,19.2,48.9,72.9,59.2,26.4,93.3,67.5,13.6,11.4,23.1,17.1,2.8,0.2,Green,Yellow,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,445,34,NDA,150000000000000,1151558.259,1904275.283,41.893211,-87.718833,23,HUMBOLDT PARK,27,11,"(41.89321142, -87.71883334)"
564,610384,Infinity Math Science and Technology High School,HS,3120 S Kostner Ave,Chicago,IL,60623,(773) 535-4225,http://schoolreports.cps.edu/SchoolProgressRep...,West Side High School Network,WEST SIDE COLLABORATIVE,No,Track_E,Not on Probation,Level 2,No,Average,58.0,NDA,NDA,Strong,66.0,Strong,65.0,NDA,NDA,NDA,NDA,Average,51,Average,48,92.2,7.5,96.0,85.4,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NaN,NaN,NaN,NaN,NDA,NDA,NDA,NDA,14.1,15,14.8,15.1,1,17.2,2.4,29,84.4,55.7,388,37,98.1,150000000000000,1147521.302,1883405.128,41.836020,-87.734195,30,SOUTH LAWNDALE,22,10,"(41.83601953, -87.73419465)"
565,609870,Daniel J Corkery Elementary School,ES,2510 S Kildare Ave,Chicago,IL,60623,(773) 534-1650,http://schoolreports.cps.edu/SchoolProgressRep...,Pilsen-Little Village Elementary Network,WEST SIDE COLLABORATIVE,No,Track_E,Not on Probation,Level 2,No,Weak,39.0,NDA,NDA,Weak,31.0,Weak,29.0,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,94.7,18.1,97.2,100.0,64.1,35.3,35.7,22.6,48.4,61.1,45.8,28.8,47.5,53,21.6,19.6,13.6,8.2,0.1,0.3,Yellow,Yellow,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,631,37,NDA,150000000000000,1148304.879,1886901.414,41.845599,-87.731229,30,SOUTH LAWNDALE,22,10,"(41.84559878, -87.73122946)"

In [144]:
null_counts = df.isnull().sum()
null_counts

School ID                                             0
Name of School                                        0
Elementary, Middle, or High School                    0
Street Address                                        0
City                                                  0
State                                                 0
ZIP Code                                              0
Phone Number                                          0
Link                                                  1
Network Manager                                       0
Collaborative Name                                    0
Adequate Yearly Progress Made?                        0
Track Schedule                                        0
CPS Performance Policy Status                         0
CPS Performance Policy Level                          0
Healthy Schools Certified?                            0
Safety Icon                                           0
Safety Score                                         53
Family Involvement Icon                               0
Family Involvement Score                              0
Environment Icon                                      0
Environment Score                                    53
Instruction Icon                                      0
Instruction Score                                    53
Leaders Icon                                          0
Leaders Score                                         0
Teachers Icon                                         0
Teachers Score                                        0
Parent Engagement Icon                                0
Parent Engagement Score                               0
Parent Environment Icon                               0
Parent Environment Score                              0
Average Student Attendance                            1
Rate of Misconducts (per 100 students)                0
Average Teacher Attendance                            0
Individualized Education Program Compliance Rate      0
Pk-2 Literacy %                                       0
Pk-2 Math %                                           0
Gr3-5 Grade Level Math %                              0
Gr3-5 Grade Level Read %                              0
Gr3-5 Keep Pace Read %                                0
Gr3-5 Keep Pace Math %                                0
Gr6-8 Grade Level Math %                              0
Gr6-8 Grade Level Read %                              0
Gr6-8 Keep Pace Math%                                 0
Gr6-8 Keep Pace Read %                                0
Gr-8 Explore Math %                                   0
Gr-8 Explore Read %                                   0
ISAT Exceeding Math %                                90
ISAT Exceeding Reading %                             90
ISAT Value Add Math                                  98
ISAT Value Add Read                                  98
ISAT Value Add Color Math                             0
ISAT Value Add Color Read                             0
Students Taking  Algebra %                            0
Students Passing  Algebra %                           0
9th Grade EXPLORE (2009)                              0
9th Grade EXPLORE (2010)                              0
10th Grade PLAN (2009)                                0
10th Grade PLAN (2010)                                0
Net Change EXPLORE and PLAN                           0
11th Grade Average ACT (2011)                         0
Net Change PLAN and ACT                               0
College Eligibility %                                 0
Graduation Rate %                                     0
College Enrollment Rate %                             0
College Enrollment (number of students)               0
General Services Route                                0
Freshman on Track Rate %                              0
RCDTS Code                                            0
X_COORDINATE                                          0
Y_COORDINATE                                          0
Latitude                                              0
Longitude                                             0
Community Area Number                                 0
Community Area Name                                   0
Ward                                                  0
Police District                                       0
Location                                              0
dtype: int64

In [83]:
null_counts[null_counts > 0].sort_values(ascending = True)

Link                           1
Average Student Attendance     1
Safety Score                  53
Environment Score             53
Instruction Score             53
ISAT Exceeding Math %         90
ISAT Exceeding Reading %      90
ISAT Value Add Math           98
ISAT Value Add Read           98
dtype: int64

In [94]:
null_percent = df.isnull().sum() /len(df) * 100
null_percent[null_percent > 0].sort_values(ascending = True)

Link                           0.176678
Average Student Attendance     0.176678
Safety Score                   9.363958
Environment Score              9.363958
Instruction Score              9.363958
ISAT Exceeding Math %         15.901060
ISAT Exceeding Reading %      15.901060
ISAT Value Add Math           17.314488
ISAT Value Add Read           17.314488
dtype: float64

##### Plan for handling null values: 
In order to handle the missing values, it is important to know which category of data they fall in. All of the columns with missing values (except for Link) are float64 data types, meaning that they can be filled with means, medians or whatever is deemed most relevant for that particular category. For Link and average student score, since they are only missing 1 data point, they will be left as is. For the other rows, the data will likely be filled in depending on correlations with other data or mean/median/modes.

## **Section II: Data Cleaning and Indexing**

##### Step 1: 
The first step in this section is to check for duplicates. This is done with df.duplicated.sum(). Since there are no duplicates, this process is very simple.
##### Step 2:
The next step is to filter through the to find anything that might indicate correlation. This is search is done by using df[['column x']]. The one column that is included in all of these is school ID, so that the data from each school is identifiable. Since this dataset is so large, .sample is used to select 50 random rows so that the sample is more manageable. Although none of this filtering shows any direct correlation, it can help to identify some trends that might exist within the data.

In [105]:
df.duplicated().sum()

0

In [121]:
df[['School ID', 'Safety Score', 'Environment Score']].sample(n=50)

     School ID  Safety Score  Environment Score
417     610023          47.0               44.0
165     610115          28.0               42.0
301     610369          38.0               54.0
314     610110          49.0               64.0
94      610114          38.0               45.0
79      610026          64.0               49.0
486     610019          62.0               69.0
253     609989          50.0               64.0
304     610096          35.0               40.0
316     609702          43.0               50.0
85      610291          59.0               46.0
442     610396          48.0               39.0
70      609994           NaN                NaN
472     609895          56.0               48.0
319     609803          99.0               76.0
391     609839          35.0               12.0
426     609769          90.0               52.0
455     610196          61.0               62.0
158     610229          59.0               58.0
41      609853          55.0               59.0
556     609812          36.0               58.0
483     609874          44.0               12.0
355     610348          49.0               80.0
24      610212          66.0               66.0
27      610047          39.0               32.0
50      609837          48.0               37.0
313     610055          35.0               65.0
224     610134          48.0               73.0
239     610066          99.0               57.0
106     609817          59.0               33.0
207     609910          54.0               48.0
552     610027          52.0               42.0
518     610219          58.0               33.0
451     610093          42.0               27.0
63      610535          50.0               59.0
461     610329          55.0               34.0
497     610293          61.0               65.0
167     610354          67.0               53.0
249     610542          67.0               41.0
500     609959          32.0               37.0
212     609850          65.0               48.0
118     610231          67.0               65.0
194     610022           NaN                NaN
282     609857          64.0               58.0
434     610380          50.0               45.0
217     609945          70.0               74.0
30      610394          50.0               61.0
412     610029          55.0               39.0
78      610004          14.0               28.0
180     610206          67.0               46.0

In [127]:
df[['School ID', 'Average Student Attendance', 'Average Teacher Attendance', 'Adequate Yearly Progress Made? ']].sample(n=50)

,School ID,Average Student Attendance,Average Teacher Attendance,Adequate Yearly Progress Made?
280,610132,97.6,97.2,Yes
126,610281,95.6,95.3,No
260,609922,95.3,96.8,No
241,609789,95.1,96.1,No
147,609674,68.8,94.6,No
222,610158,96.2,96.6,No
271,609930,94.7,95.4,No
430,610107,95.5,96.5,No
104,609819,89.3,95.5,No
47,610062,93.2,96.0,No
84,609723,74.1,95.8,No
148,610187,95.2,96.1,No
201,610017,96.8,96.9,No
16,610308,80.0,95.6,NDA
46,609961,93.9,95.0,No
319,609803,96.4,96.0,Yes
277,609782,96.2,96.7,Yes
356,610227,95.8,95.2,No
467,609827,94.9,94.9,No
323,609867,96.2,96.3,No
251,610099,95.5,95.6,Yes
504,610124,96.1,96.2,No
207,609910,96.1,97.0,No
300,610009,95.0,97.0,Yes
546,610213,92.2,95.5,No
354,609798,95.0,96.2,No
498,610131,96.9,96.6,No
469,610532,95.5,96.2,No
539,610010,94.7,94.7,No
349,609855,86.1,94.1,No
297,610282,90.7,96.5,No
507,610256,90.5,93.8,No
263,610345,91.9,94.7,No
489,610268,87.9,93.4,No
117,609708,84.3,94.8,No
190,609719,87.7,96.2,No
272,610021,92.0,95.9,No
8,609680,93.4,96.1,Yes
140,610208,91.5,95.0,No
265,610184,96.2,97.4,No
145,610224,91.2,93.8,No
303,609899,95.9,95.2,Yes
483,609874,95.9,96.2,No
555,610041,95.5,95.1,No
311,610389,66.3,95.0,No
401,610015,96.4,96.3,No
228,610210,92.5,96.0,No
235,609904,93.3,97.3,No
174,610170,95.4,97.1,No
27,610047,94.9,97.7,No

In [135]:
df[['School ID', 'Parent Engagement Score', 'Parent Environment Score', 'Rate of Misconducts (per 100 students) ']].sample(n=50)

,School ID,Parent Engagement Score,Parent Environment Score,Rate of Misconducts (per 100 students)
207,609910,49,53,5.7
190,609719,49,43,8.5
61,609808,47,49,2.9
288,609952,48,54,3.8
183,609804,50,49,10.5
81,610368,46,56,27.5
384,609678,NDA,NDA,4.5
276,609871,66,60,0.0
219,609727,NDA,NDA,22.0
478,610167,49,50,14.4
435,610152,48,46,30.9
108,609872,52,50,7.3
100,610174,50,50,13.9
365,609766,63,57,3.7
356,610227,NDA,NDA,11.6
428,609921,55,51,2.7
16,610308,57,60,0.0
125,609676,NDA,NDA,21.5
270,609844,46,46,27.0
84,609723,NDA,NDA,42.9
326,609866,58,55,1.4
337,609682,43,47,17.3
5,609818,47,49,9.8
396,610201,50,50,25.8
554,609753,52,55,5.2
458,609792,52,52,0.2
427,609973,46,49,2.8
542,609794,55,57,1.9
528,609907,45,45,20.8
453,610197,51,49,3.2
223,610063,52,56,4.7
171,610119,52,49,7.6
464,609875,49,54,33.8
274,609730,NDA,NDA,41.3
318,610342,NDA,NDA,28.1
257,609887,NDA,NDA,32.2
494,610175,49,45,0.3
333,610104,47,44,6.9
429,609786,46,45,52.1
176,610390,53,48,15.4
540,609718,NDA,NDA,22.0
481,609985,51,56,13.4
273,610139,50,49,14.6
373,609755,53,50,1.2
339,610499,54,56,2.9
268,609908,49,50,34.0
506,609859,NDA,NDA,14.8
74,610305,60,53,3.3
188,610061,50,55,26.0
58,609772,53,53,5.0

In [152]:
df[['School ID', 'Students Passing  Algebra %', 'Average Student Attendance', 'Rate of Misconducts (per 100 students) ', 'Safety Score']].sample(n=50)

,School ID,Students Passing Algebra %,Average Student Attendance,Rate of Misconducts (per 100 students),Safety Score
296,610076,NDA,93.0,45.5,50.0
219,609727,NDA,63.0,22.0,NaN
287,610030,NDA,92.0,55.6,36.0
258,610137,NDA,95.4,23.4,71.0
289,609963,NDA,95.3,12.5,73.0
5,609818,NDA,95.2,9.8,37.0
206,610077,50,93.4,19.6,28.0
210,609880,NDA,96.2,2.8,99.0
143,610304,NDA,92.1,4.3,53.0
459,610144,69,97.0,8.7,48.0
208,609995,NDA,95.1,3.7,64.0
403,610005,NDA,94.4,0.0,42.0
323,609867,NDA,96.2,5.7,NaN
318,610342,NDA,94.7,28.1,67.0
513,609774,73.9,96.6,3.7,NaN
176,610390,NDA,92.9,15.4,64.0
360,609993,25,95.5,10.4,56.0
1,610539,NDA,95.1,4.3,54.0
565,609870,NDA,94.7,18.1,39.0
192,609768,NDA,72.2,24.0,31.0
519,610090,NDA,95.6,3.5,66.0
13,609863,NDA,95.5,2.4,66.0
471,610145,80.8,95.8,8.2,60.0
384,609678,NDA,93.8,4.5,92.0
172,610020,NDA,91.9,39.6,37.0
225,610518,NDA,84.5,25.0,42.0
312,610248,53.8,96.3,6.0,66.0
348,609759,NDA,69.6,20.6,44.0
358,609864,NDA,94.0,26.0,NaN
557,610122,5.7,96.7,5.8,58.0
319,609803,63.3,96.4,2.1,99.0
118,610231,NDA,94.7,9.2,67.0
178,610044,NDA,93.2,11.2,39.0
450,609869,NDA,91.8,29.0,31.0
547,610058,NDA,91.9,40.0,42.0
488,609744,NDA,89.8,5.3,99.0
320,610253,NDA,90.5,113.5,67.0
411,609987,NDA,91.2,61.8,33.0
10,609848,NDA,92.9,49.0,39.0
8,609680,NDA,93.4,0.7,98.0
97,610016,36.4,96.3,12.0,76.0
470,609983,61.5,95.4,48.8,22.0
316,609702,NDA,57.9,19.9,43.0
554,609753,NDA,92.8,5.2,87.0
392,609775,NDA,91.9,32.9,48.0
114,609861,44.4,95.1,8.4,45.0
99,610192,11.1,93.8,13.7,28.0
515,610089,NDA,95.6,1.9,80.0
408,610135,66.7,94.2,3.7,62.0
23,609938,NDA,96.1,16.8,32.0

## **Section III: Descriptive Statistics**

In [181]:
df_new = df.copy()

In [183]:
df_new.describe()

,School ID,ZIP Code,Safety Score,Environment Score,Instruction Score,Average Student Attendance,Rate of Misconducts (per 100 students),Average Teacher Attendance,Individualized Education Program Compliance Rate,ISAT Exceeding Math %,ISAT Exceeding Reading %,ISAT Value Add Math,ISAT Value Add Read,College Enrollment (number of students),General Services Route,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Ward,Police District
count,566.000000,566.000000,513.000000,513.000000,513.000000,565.000000,566.000000,566.000000,566.000000,476.000000,476.000000,468.000000,468.000000,566.000000,566.000000,5.660000e+02,5.660000e+02,5.660000e+02,566.000000,566.000000,566.000000,566.000000,566.000000
mean,609681.791519,60629.727915,49.504873,47.766082,48.288499,92.313805,21.085866,94.378445,98.915371,20.356303,15.667017,0.068590,0.022650,626.053004,39.084806,1.500000e+14,1.163016e+06,1.885663e+06,41.841890,-87.677323,37.706714,22.060071,11.710247
std,8831.060946,20.248024,20.110837,16.215584,17.417176,5.993053,27.543835,11.353180,2.311631,16.850870,15.208361,1.041174,1.042543,448.495105,6.165552,0.000000e+00,1.605930e+04,3.285688e+04,0.090361,0.058390,21.584135,13.645574,6.688582
min,400018.000000,60605.000000,1.000000,1.000000,1.000000,57.900000,0.000000,0.000000,72.700000,0.000000,0.000000,-3.500000,-5.000000,21.000000,29.000000,1.500000e+14,1.118114e+06,1.817242e+06,41.653674,-87.841052,1.000000,1.000000,1.000000
25%,609873.250000,60618.000000,35.000000,37.000000,37.000000,91.900000,4.525000,95.100000,98.600000,9.175000,6.100000,-0.600000,-0.600000,342.250000,34.000000,1.500000e+14,1.152166e+06,1.860248e+06,41.771866,-87.717152,23.000000,10.000000,7.000000
50%,610052.500000,60625.000000,48.000000,47.000000,47.000000,94.400000,12.250000,95.800000,100.000000,16.000000,10.950000,0.000000,0.000000,504.000000,39.000000,1.500000e+14,1.163553e+06,1.886889e+06,41.845521,-87.675878,31.500000,21.000000,10.000000
75%,610212.750000,60639.000000,61.000000,58.000000,59.000000,95.600000,26.975000,96.400000,100.000000,24.900000,19.525000,0.700000,0.625000,790.500000,45.000000,1.500000e+14,1.174256e+06,1.911652e+06,41.913584,-87.636059,58.000000,32.750000,17.000000
max,610544.000000,60827.000000,99.000000,99.000000,99.000000,98.400000,251.600000,98.500000,100.000000,100.000000,100.000000,3.600000,4.900000,4368.000000,49.000000,1.500000e+14,1.202811e+06,1.950960e+06,42.021064,-87.533007,77.000000,50.000000,25.000000

##### Insight into data:
The max for both the ISAT Exceeding Math and Reading % are at 100%. While this is not impossible, it is unlikely that 100% of students are exccelling both math and reading at a school is very unlikely and points to some kind of mistake in the data.

In [222]:
df_new['Environment Score'].value_counts().head(25)

Environment Score
49.0    21
42.0    20
37.0    18
34.0    17
47.0    16
39.0    15
44.0    14
48.0    13
32.0    13
57.0    13
41.0    13
50.0    12
51.0    12
43.0    12
33.0    12
53.0    11
35.0    11
64.0    11
45.0    11
52.0    10
66.0    10
55.0     9
40.0     9
58.0     9
61.0     8
Name: count, dtype: int64

In [238]:
df_new['Average Student Attendance'].value_counts().head(25).sort_values(ascending = False)

Average Student Attendance
95.5    25
95.1    22
95.6    17
96.2    14
96.3    14
95.9    14
94.9    14
95.2    13
92.1    12
95.0    12
95.4    12
95.8    12
94.7    11
95.3    10
93.4     9
92.9     9
96.1     9
93.8     9
95.7     8
93.9     8
96.4     8
92.5     8
91.9     8
96.8     7
94.4     7
Name: count, dtype: int64

##### .value_counts()
Using value_counts(), it is possible to see the most common values for certain categories. In this case, environment score and average student attendance are used to give an idea of which ranges are most common. Since the dataset is so large, using .head(25) ensures that the data is readable and the most common and relevant results are displayed.

In [245]:
df_new.groupby('Elementary, Middle, or High School')['School ID'].count()

Elementary, Middle, or High School
ES    462
HS     93
MS     11
Name: School ID, dtype: int64

In [247]:
df_new.groupby('Elementary, Middle, or High School')['Environment Score'].mean()

Elementary, Middle, or High School
ES    48.527578
HS    45.717647
MS    34.727273
Name: Environment Score, dtype: float64

In [249]:
df_new.groupby('Elementary, Middle, or High School')['Safety Score'].mean()

Elementary, Middle, or High School
ES    49.520384
HS    49.623529
MS    48.000000
Name: Safety Score, dtype: float64

In [257]:
df_new.groupby('Elementary, Middle, or High School')['Average Student Attendance'].mean()

Elementary, Middle, or High School
ES    94.022777
HS    83.563441
MS    94.672727
Name: Average Student Attendance, dtype: float64

##### .groupby()
Using .groupby() groups a column of data by another column. For example, with the first .groupby() function, the School ID's are grouped by whether they are elementary, middle or high schools. This is repeated for the other categories like safety score, average student attendance and environment score. Since the 'Elementary, Middle, or High School' categories has three categorical values, it can be the column that is grouped by. 
##### Interesting findings:
Middle schools had a significantly lower environment score mean than high schools and elementary schools, while the safety score mean was very close for all three. 
The high school average student attendance mean was much lower compared to the elementary and middle school average student attendance mean.

In [266]:
df_new.to_csv('Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012_cleaned.csv', index=False) ## saves cleaned data to new data set

## **Section IV: Observations and Questions**

##### Observations:
* The data indicates that there could be a correlation between 'Parent Engagement Score', 'Parent Environment Score', and 'Rate of Misconducts (per 100 students).
* The 'Average Student Attendance' goes down when students go to high school. This is likely because many students have more independence by high school and decide to skip school. Students also have more committments as they get older and might have to help their families in other ways, resulting in lower attendance.

##### Questions:
* Is there a correlation between 'Safety Score', 'Environment Score' and 'Rate of Misconducts (per 100 students)'?
* Is there a correlation between older students and a higher 'Rate of Misconducts (per 100 students)'?

## **Conclusion**

I explored key factors influencing school performance, including safety, environment, and student misconduct. Using filtering, value counts, and groupby-based summary statistics, I identified patterns across school types and discovered notable variations in safety scores and misconduct rates. Schools with higher misconduct rates tended to have lower safety scores, and elementary schools showed different behavioral patterns compared to high schools.

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize = (8,6))
sns.scatterplot(